body {
    font-family: 'Roboto', sans-serif;
    margin: 30px;
}

h1 {
  text-shadow: 0.5px 0.5px #bdc3c7;
}

a {
    color: #0097e6;
    text-decoration: none;
}

.post {
    margin-bottom: 40px;
    margin-top: 40px;
}

.date {
}

img {
  width: 500px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 15px;
}
