body {
    font-family: 'Roboto', sans-serif;
    margin: 30px;
    font-size: 125%;
    /*background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;*/
}

h1 {
  text-shadow: 0.5px 0.5px #bdc3c7;
  font-size: 160%;
}

a {
    color: #0097e6;
    text-decoration: none;
}

.post {
    margin-bottom: 40px;
    margin-top: 40px;
}

.date {
}

img {
  max-width: 90%;
  max-height: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;

}

.contentContainer {
  overflow-x: hidden;
  word-wrap: normal;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

}
